* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: var(--background-primary);
}

:root {
  --background-primary: #121214;
  --background-secoundary: #202024;
  --color-light: #29292e;
  --color-green: #04d361;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background: var(--color-light);
}

::-webkit-scrollbar-thumb {
  background: var(--color-green)
}

section.todolist {
  max-width: 100%;

  background: var(--background-primary);
  font-family: 'Arial', sans-serif;
  color: #fff;
}

div.top-bar {
  width: 100%;
  height: 230px;

  background: var(--background-secoundary);

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.top-bar h1 {
  font-size: 35px;
  padding: 30px 0 30px 0;
}

div.top-bar nav {
  width: 300px; 

  padding-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.top-bar nav button {
  background: none;
  border: none;
  outline: none;

  font-size: 18px;

  color: #fff;

  cursor: pointer;
}

div.top-bar nav button.active {
  color: var(--color-green);
}

div.top-bar div.input-task {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.top-bar div.input-task input {
  width: 300px;
  height: 35px;

  padding-left: 8px;
  font-size: 17px;
  color: #fff;

  background: var(--background-primary);
  box-shadow: 0 0 30px #3e3e46;
  border: none;
}

div.top-bar div.input-task button {
  width: 50px;
  height: 35px;

  font-size: 16px;
  font-weight: bold;
  color: #fff;

  background: var(--color-light);
  border: none;

  box-shadow: 0 0 10px #3e3e46;

  transition: .2s;
  cursor: pointer;
}

div.top-bar div.input-task button:hover {
  background: #3e3e46;
}

div.displayAll {
  width: 700px;
  height: 400px;

  margin: 0 auto;
  padding: 0 10px 30px 10px;
  /* background: lightcoral; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.displayActive {
  width: 700px;
  height: 400px;

  margin: 0 auto;
  padding: 0 10px 30px 10px;
  /* background: lightblue; */

  display: none;
  flex-direction: column;
  align-items: center;
}

div.displayCompleted {
  width: 700px;
  height: 400px;

  margin: 0 auto;
  padding: 0 10px 30px 10px;

  display: none;
  flex-direction: column;
  align-items: center;
}

div.task {
  width: 470px;
  min-height: 40px;

  margin-top: 40px;

  background: var(--background-secoundary);
  box-shadow: 0 0 15px #3e3e46;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  animation-name: animate-task;
  animation-duration: .2s;
}

div.task.active {
  border-bottom: 2px solid var(--color-green);
  transition: .2s;
  transform-origin: left;
}

div.check {
  width: 50px;
  height: 100%;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

div.box-check {
  width: 20px;
  height: 20px;

  background: var(--background-primary);
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

div.circle-check {
  width: 10px;
  height: 10px;

  background: var(--color-light);
  border-radius: 50px;
}

div.check.active div.circle-check {
  background: var(--color-green);
}

div.content-task {
  width: calc(100% - 50px);

  text-align: left;
  padding-left: 8px;
  overflow: hidden;
}

div.icon-remove {
  width: 50px;
  height: 100%;

  background: var(--color-light);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--color-green);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.bubbles-left {
  width: 500px;
  float: left;
}

.bubbles-right {
  width: 500px;
  float: right;
}

.bubbles-left img:nth-child(1),
.bubbles-right img:nth-child(1) {
  width: 30px;
  animation-delay: 2s;
}

.bubbles-left img,
.bubbles-right img {
  width: 50px;
  animation: animate-bubble 7s linear infinite;
  opacity: 0;
}

.bubbles-left img:nth-child(2),
.bubbles-right img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles-left img:nth-child(3),
.bubbles-right img:nth-child(3) {
  animation-delay: 3s;
  width:50px;
}
.bubbles-left img:nth-child(4),
.bubbles-right img:nth-child(4) {
  animation-delay: 5s;
}
.bubbles-left img:nth-child(5),
.bubbles-right img:nth-child(5) {
  animation-delay: 4.5s;
}
.bubbles-left img:nth-child(6),
.bubbles-right img:nth-child(6) {
  width:70px;
  animation-delay: 7s;
}
.bubbles-left img:nth-child(7),
.bubbles-right img:nth-child(7) {
  width: 25px;
  animation-delay: 6s;
}

@keyframes animate-bubble {
  0%{
    transform: translateY(0);

    opacity: 0;
  }
  50%{
    opacity: 1;
    margin-left: 60px;
  }

  60% {
    margin-left: 30px;
  }

  70%{
    opacity: 1;
    margin-left: 0;
  }
  100%{
    transform: translateY(-70vh);
    opacity: 0;
  }
}

@keyframes animate-task {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}